<h1> <%= @blogger.name %>'s Page </h1>

<p> Total Likes: <%= @blogger.total_likes %> </p>


<p>Featured Post: 
<% if @blogger.posts.count > 0 %> 
    <%= link_to @blogger.featured_post.title, post_path(@blogger.featured_post) %> </p>
<% else %>
    <p> No posts yet </p>
<% end %>

<p>Top 5 Destinations</p>

